.cursor-pointer{
    cursor: pointer
}

.invisible{
    display: none;
}

.radio{
    display: inline;
    font-size: 20px;
}

.text-disabled{
    color: gray;
    &:hover{
        color: gray
    }
}
#nav-logo{
    height: 57px;
    position: relative;
    top: -15px;
}
.thumb-author-name{
    margin: 16px;
    float: right;
}

nav .glyphicon{
    margin: 0px 7px;
}

textarea{
    resize: vertical;
}
.tag-delete{
    color: white;
    font-size: 20px;
    margin: 5px;
    position: relative;
    top: 2px;
    &:hover{
        text-decoration: none;
        color: gray;
        cursor: pointer;
    }
}
.tag-input{
    padding-top: 16px;
}

.tag-label{
    float: left;
    font-size: 15px;
    margin: 1px 3px 10px 0px;
}

.art-image{
    width: 100%;
}

.gallery{
    .galler-image-wrapper{
        height: 150px;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
            border: 1px solid silver;
        }
    }
}

.author-photo{
    img{
        width: 100%;
        height: 100%;
    }
}

.author-gallery{
    .photo-wrapper{
        height: 150px;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
            border: 1px solid silver;
        }
    }
}
.notification{
    margin: 0px 5px;
}

.verticalalign-top{
    vertical-align: top;
}

.bidRecived-gallery-wrapper{
    margin: 0 auto;
    text-align: center;
    img{
        width: 100%;
        height: 100%;
        border: 1px solid silver;
    }
}

.bidSent-gallery-wrapper{
    margin: 0 auto;
    width: 150px;
    text-align: center;
    img{
        width: 100%;
        height: 100%;
        border: 1px solid silver;
    }
}

.inline{
    display: inline;
}

.author-bids-requests{
    td{
        vertical-align: middle !important;
    }
    .width-600{
        width: 600px;
        button{
            margin: 10px 10px;
        }
    }
}